.root {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2px 6px 10px #00000029;
    border-radius: 4px;
    padding: 30px;
    margin: 0 20px;
}

@media (min-width: 768px) {
    .root {
        width: 740px;
    }
}